# build and doc directories
build-*
doc

# all hidden files
.*
# except .gitignore
!.gitignore
!.github

# QT creator files
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes

# compilation database file
compile_commands.json
